* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-flt{
  background-color: whitesmoke;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;
  
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
 
  flex-wrap: wrap; 
 
}

.filter-heading {
  color: #01255A;
  font-weight: bold;
  font-size: 40px;
  margin:30px;
  text-align: center;   
 padding-top: 40px;
}

.dropdown {
  width: 260px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  background: white;
}


.search-btn {
  padding: 12px 25px;
  background-color: #01255A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #013980;
}


@media (max-width: 1024px) {
  .filter-container {
    gap: 15px;
  }
  .dropdown {
    width: 220px;
  }
}


@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .dropdown,
  .search-btn {
    width: 90%;
  }
   }
  .filter-heading {
    font-size: 30px;
    margin-top: 50px;
  
}


@media (max-width: 480px) {
  .dropdown {
    padding: 10px 12px;
    font-size: 14px;
  }

  .search-btn {
    padding: 10px 18px;
    font-size: 15px;
  }
   .filter-heading {
    font-size: 20px;
    margin-top: 40px;
  }
}
