.footer {
  width: 100%;
  background: #01255A;
  color: white;
  padding: 40px 20px 20px;
  border-top: 3px solid #ffcc00; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-container {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}


.footer-brand {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 280px;
}

.footer-logo-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.footer-brand-text {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
}

.footer-subtitle {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
}


.footer-section {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}

.footer-section a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  margin: 6px 0;
  transition: 0.2s ease;
}

.footer-section a:hover {
  opacity: 1;
  transform: translateX(3px);
}

.footer-info {
  display: flex;
  align-items: center;
  margin: 6px 0;
  opacity: 0.9;
}

.icon {
  margin-right: 10px;
  font-size: 14px;
}


.footer-copy {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
    text-align: left;
  }

  .footer-brand {
    flex-direction: row;
  }
}
