
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
}


.location-section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #01255A;
  margin-bottom: 30px;
}



.location-card {
  display: flex;
  width: 48%;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.location-card:hover {
  transform: translateY(-5px);
}


.image-background {
  width: 200px;
  height: 100%;
  background-image: url("demo-2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.location-icon {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 12px;
  padding: 6px;
  background: #01255A;
  border-radius: 50%;
  color: white;
}

.card-content {
  flex: 1;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}

.card-header {
  display: flex;
  gap: 20px;
  color: #01255A;
}

.card-de {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

}
.card-details{
  color: #01255A;
}

.card-de button {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  background: #01255A;
  color: white;
  cursor: pointer;
}


@media (max-width: 1600px) {
  .location-card { width: 48%; }
  .image-background { width: 180px; }
  .card-de button { padding: 8px 28px; }
}


@media (max-width: 1400px) {
  .location-card { width: 48%; }
  .image-background { width: 170px; }
  .card-de button { padding: 8px 20px; }
}


@media (max-width: 1280px) {
  .location-card { width: 48%; }
  .image-background { width: 160px; }
  .card-de button { padding: 8px 18px; }
}


@media (max-width: 1150px) {
  .location-card { width: 48%; }
  .image-background { width: 150px; }
  .card-de button { padding: 6px 12px; }
}


@media (max-width: 1024px) {
  .location-card {
    width: 100%;
    height: 120px;
  }
  .image-background { width: 150px; }
  .card-de button { padding: 6px 12px; }
}


@media (max-width: 768px) {
  .location-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .image-background {
    width: 100%;
    height: 180px;
  }

  .card-content {
    padding: 15px;
  }

  .card-de {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .card-de button {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
  }
}


@media (max-width: 480px) {
  .card-title { font-size: 16px; }
  .card-details { font-size: 14px; }

  .location-icon {
    top: 10px;
    right: 10px;
  }
}



