*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    height: 70px;
    width: 100%;
    background-color: #01255A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 45px;
    width: 45px;
}

.site-name p {
    margin-left: 12px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.site-name label {
    color: rgb(237, 234, 234);
    font-size: 12px;
    margin-left: 12px;
}

/* NAV ITEMS */
.nav-item {
    display: flex;
    gap: 40px;
    color: white;
    font-size: 18px;
}


.item-scheme {
    animation: colorBlink 1s infinite;
}

@keyframes colorBlink {
  0% { color: white; }
  50% { color: red; }
  100% { color: white; }
}


.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
}



.hamburger span {
    transition: 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}





@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    
    .nav-item {
        position: absolute;
        top: 70px;               
        left: 0;
        width: 100%;
        background-color: #01255A;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
        border-top: 1px solid rgba(255,255,255,0.2);  
    }

    .nav-item.open {
        display: flex;
        animation: slideDown 0.25s ease;
         max-height: 300px;
    }

    @keyframes slideDown {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }
}
